<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Promedicus</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['turno-new']" (click)="(screenWidth > 600) ? this.drawer.open() : this.drawer.close()">Solicitar Turno</a>
      <a mat-list-item [routerLink]="['turno-paciente']">Listar Turno</a>
      <a mat-list-item [routerLink]="['datos-paciente']">Mis Datos Personales</a>
      <a mat-list-item href="#" (click)="this.logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{paciente.nombre + ' ' + paciente.apellido}}</span>
    </mat-toolbar>
    <div class="myDiv">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
